<h1>Options</h1>

<table>
  <tr>
    <th>Option name</th>
    <th>Option value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @options.each do |option| %>
  <%= form_for option do |f| %>
  <div class="field">
    <%= option.option_name %><br />
    <%= f.text_field :option_value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
<% end %>
</table>

<br />
