<footer class="row">

  <div class="span6">
    <p>
      &copy; Email for visually impaired.2013
    </p>
  </div>

  <div class="span6">
    <p class="pull-right">
      Contact
      <a href="mailto:email.forvisuallyimpaired@example.com">
        email.forvisuallyimpaired@example.com
      </a>
    </p>
  </div>

</footer>
