<footer class="row">

  <div class="span6">
    <p>
      &copy; ITNT Bootcamp. 2013
    </p>
  </div>

  <div class="span6">
    <p class="pull-right">
      Contact
      <a href="mailto:salut@arstehnica.ro">
        salut@arstehnica.ro
      </a>
    </p>
  </div>

</footer>
