<div class="footer">
    <address class="pull-right">
      <strong>Contact</strong><br>
      <a href="mailto:#">email.forvisuallyimpaired@example.com</a>
    </address>
    
    <p>
         &copy; Email for visually impaired.2013
    </p>
    
</div>