<div class="span6">
  <nav class="main-menu">
    <ul>
      <li>
        <%= link_to 'Sign Up', new_user_registration_path %>
      </li>
      <li>
        <%= link_to 'Log in', new_user_session_path %>
      </li>
    </ul>
  </nav>
</div>
