<div class="span6">
  <nav class="main-menu">
    <ul>
      <li>
        <%= link_to 'Sign Up', root_path %>
      </li>
      <li>
        <%= link_to 'Log in', root_path %>
      </li>
    	<li>
    	  <%= link_to 'Download', pages_download_path %>
    	</li>
    </ul>
  </nav>
</div>
