<nav class="navbar ">
    <div class="navbar-inner ">
      <ul class="nav">
        	<li class="span3">	
        	  <%= link_to 'Download', pages_download_path %>
        	</li>
          <li class="span5">
            <%= link_to 'Sign Up', root_path %>
          </li>
          <li class="span3">  
            <%= link_to 'Log in', root_path %>
          </li> 
      </ul>
    </div>
</nav>
