

<div id="menu_up">
	<ul class="nav nav-pills">
		<li class="active">
			<a href="#">Inbox</a>
		</li>
		<li>
			<a href="#">Drafts</a>
		</li>
		<li>
			<a href="#">Sent</a>
		</li>
		<li>
			<a href="#">Trash</a>
		</li>
		<li>
			<a href="#">Contacts</a>
		</li>
		<li>
			<a href="#">Log out</a>
		</li>
	</ul>
</div>

<div id="menu_up">
	<ul class="nav nav-pills">
		<li>
			<a href="#">Compose</a>
		</li>
</div>

<div class="row">
	<div class="span2">
	</div>
	<div class="span8">
	</div>
	<div class="span2">
		<ul class="nav nav-tabs nav-stacked">
			<li>
				<a href="#">Add contact</a>
			</li>
			<li>
				<a href="#">Reply to sender</a>
			</li>
			<li>
				<a href="#">Reply to all</a>
			</li>
			<li>
				<a href="#">Forward</a>
			</li>
			<li>
				<a href="#">Delete</a>
			</li>
			<li>
				<a href="#">Move</a>
			</li>
	</div>
</div>