<h1>Pages#download</h1>
<p>Find me in app/views/pages/download.html.erb</p><div class="span12">
<div class="imag pull-left span8">
</div>
<button class="pull-center">
	<span>Download</span>
</button>
</div>
