
<div class="span12">
	<div class="imag pull-left span7">
	</div>
	
	<div class="description span4">
		<div class="row">
			<h1>Meet VocalEmail!</h1>
			<p>An interactive application that allows users to read and write emails using vocal commands and gestures.</p>
		</div>
		
		<div class="row">
			<button class="read">
				Read this email!
			</button>
		</div>

		<div class="row">
			<button class="sign">
				Sign Up!
			</button>
			<div class="row">
				<span>or</span>
				<%= link_to 'Log in', root_path %>
			</div>
		</div>

	</div>

</div>