<div class="span6">
  <img src="http://placehold.it/540x400">
</div>

<div class="span6 text-center">
  <p class="description">
    An interactive application that allows users to read and write emails using vocal commands and gestures.
  </p>

  <p>
  	<a href="#" class="btn btn-success btn-large" id="read-email">
  		Read this email!
    </a>
  </p>

  <p class="description">
    <%= link_to 'Sign up', root_path, class: "btn btn-medium" %>
    or
    <%= link_to 'Log in', root_path %>
  </p>

</div>
