<div class="email span6">
  <p>From: tom.johnson@example.com</p>
  <p>Subject: Hi there!</p>
  
  <p>Content:</p>
  <textarea id="my-email" rows="10" cols="100" name="email-content">
   Hi Alice, I was so happy to hear from you again. I hope you enjoyed the gift we've sent you.
   I can't wait to meet you this summer. 

   Take care,
   Tom.
  </textarea>
</div>

<div class="span6 text-center">
  <p class="description">
    An interactive application that allows users to read and write emails using gestures.
  </p>

  <p>
  	<a href="#" class="btn btn-success btn-large" id="read-email">
  		Read this email!
    </a>
    <a href="http://play.google.com/store" target="_blank">
      <%= image_tag 'googleplay1.png' %> 
    </a>
  </p>

</div>
