html {
 background-image: url("background.jpg");
 background-size: cover;
}

html.simple{
  background-image: none;
}

body {
  font-family: "Dosis", Helvetica, Arial, sans-serif;
	background-color: transparent;
  font-size: 16px;
}

hr {
	opacity: 0.6;
}

a {
  color: white;
}
a:hover {
  color: white;
}

html.simple a, html.simple a:hover{
  color: #222;
}

span {
  padding: 5px;
  background-color: white;
  font-size: 14px;
  border-radius:4px;
	color: black;
}

footer {
  color: #888;
  margin-top: 90px;
  font-weight: 200;
}

footer a {
  color: #d8d8d8;
}

.logo {
  display: inline-block;
  text-indent: -9000px;
  width: 200px;
  height: 60px;
  background-image:url("logo.png");
  margin-top: 60px;
  margin-bottom: 80px;
  background-repeat: no-repeat;
}


nav.main-menu {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 200;
}

nav.main-menu ul li {
  display: inline-block;
  float: right;
}

nav.main-menu ul li a {
  line-height: 40px;
  margin-left: 20px;
  color: #f0f0f0;
}
nav.main-menu li:first-child
{ 
  font-size: 21px;
  color: white;
}

nav.main-menu ul li a:hover, nav.main-menu ul li.active a {
  color: white;
  text-decoration: none;
}

.description {
	margin-top: 50px;
	margin-bottom: 50px;
  font-size: 24px;
  line-height: 36px;
  color: #f0f0f0;
}

.description p{
	color: rgba(255,255,255,0.75);
	font-size: 22px;
	line-height: 26px;
}
.email{
  color: rgba(255,255,255,0.50);
  font-size: 16px;
  line-height: 18px;
}
textarea{
  width: 400px;
  background-color: #f0f0f0;
}

div#content{
  font-family:Helvetica, Arial, sans-serif;
  border:1px solid black;
  overflow: auto;
}

div#folders{
  
  padding-top:20px;
  height: 30px;
  margin:0;
  background-color: #D4D9B0;
}

div#folders ul{
  list-style-type: none;
  margin: 0px;
  width:500px;
  float:left;
}

div#folders ul li{
  display: inline-block;
  margin-right: 5px;
}

div#folders ul li a{
  font-size: 14px;
  font-family:Helvetica, Arial, sans-serif;
  background-color: #F3F3F3;
  text-decoration: none;
  padding: 5px 10px;
  border-color: #C8C8C8;
  border-style: solid;
  border-width: 1px ;
  text-shadow: 1px 1px 1px gray;
  border-radius: 3px;
  margin-left: 5px;
}
div#folders ul li:first-child{
  margin-right: 50px;
}

div#folders ul li a:hover{
  background-color: #E8E8E8;
}


/*#folders a:first-child{
  -webkit-border-bottom-left-radius: 12px;
  -webkit-border-top-left-radius: 12px;  
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-bottomleft: 12px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}*/
div.messagecontainer{
  margin:10px 20px;
  background-color: #f0f0f0;
  height:600px;
}
div#list_mails{
  font-size: 12px;
  position: absolute;
  width:350px;
  float:left;
  border: 1px solid #E8E8E8;
  border-top:none;
  line-height: 15px;
  height: 530px;
  overflow: auto;
	margin-left:10px;
}

div#mail{
  margin-left: 350px;
  margin-right:152px;
  border-right: 1px solid #E8E8E8;
}

div#mail_menu{
  width:150px;
  border-left:1px solid #E8E8E8;
  float:right;
}

div#mail_menu ul{
  list-style-type: none;
  margin:0;
}

div#mail_menu ul li a, div#mail_menu ul li a:hover{
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #E8E8E8;
}

div#mail_menu ul li a{
  background-color:#F0F0F0;
	margin-left:5px;
}

div#mail_menu ul li a:hover{
  background-color: #F8F8F8;
}

div#compose{
    border-bottom:1px solid #E8E8E8;
    height: 28px;
    padding-top: 7px;
}

div#signout{
  float:right;
  width: 70px;
}

div#signout a:hover{
  text-decoration: none;

}

div#from_to{
  width:100%;
  height:300px;
  border:1px solid #E8E8E8;
  border-right: none;

}
div#content{
  border: 1px black;
  margin-top: 10px;
}

div#data{
  font-size: 10px;
}

#list_mails hr{
  margin:0;
  padding-bottom: 10px;
  opacity:1;
}


h2.formtitle{
  font-weight: normal;
}

div.loginform{
  margin-left: 240px;
  background-color: rgba(0,0,0,0.2);
  width: 360px;
  height: 300px;
  padding: 45px 80px;
  border-radius: 8px;
  color:white;
}

div.loginform label{
  display:inline-block;
  width:100px;
}

div.signupform{
  margin-left: 240px;
  background-color: rgba(0,0,0,0.2);
  width: 360px;
  height: 300px;
  padding: 45px 80px;
  border-radius: 8px;
  color:white;
}

div.signupform label{
  display:inline-block;
  width:100px;
}

div.forgotpassform{
  margin-left: 240px;
  background-color: rgba(0,0,0,0.2);
  width: 360px;
  height: 200px;
  padding: 45px 80px;
  border-radius: 8px;
  color:white;
}

div.forgotpassform label{
  display:inline-block;
  width: 100px;
}
div#compose{
  background-color: #D4D9B0;
}
div.composeform{
  margin-left: 50px;
}
div.composeform label{
  display:inline-block;
  width: 200px;
  font-size: 18px;
}
div.composeform h1{
  font-size: 28px;
}
div#mail #from_to{
  height: 530px;
}
div#list_mails :hover{
  text-decoration: none;
}
div#mail{
  background-color: #f8f8f8;
}





